<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Trust Issues - Game Portal</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="face logo"/></a>
    <div class="navlink"><a href="/gamePortal">Game Portal</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>


<section class="gamePortal">
  <section id="trustMe"></section>
  <section id="trustUs"></section>
  <section id="trustFund"></section>
  <section id="secretCodes"></section>
</section>

  <script src="/assets/gamePortalBundle.js"></script>
</body>
</html>